<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.cablespeed.monitor.app</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/bank/Library/Application Support/Cable Speed Monitor/launch-at-login.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
